:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;

  .fields {
    padding: 10px;

    paper-input {
      width: 100%;
      font-size: 30px;
    }
  }

  core-toolbar {
    color: #FAFAFA;
    background-color: #009688;
  }
}