:host {
  display: block;
  .content {
    position: absolute;
    height: 100%;
    width: 100%;

    core-toolbar {
      color: #FAFAFA;
      background-color: #009688;
      padding-left: 15px;
    }

    .categories {
      overflow-y: auto;
      overflow-x: hidden;
    }
    
  }

  core-menu {
    margin-left: 20px;
    text-transform: capitalize;
    
    core-item /deep/ #label {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
  }
}