:host {
  .main {

    core-toolbar {
      color: #FAFAFA;
      background-color: #009688;

      paper-menu-button {

        core-menu {
          color: black;
          font-size: 16px;
          

          paper-item {
            cursor: pointer;
            &.core-selected {
                background-color: white;
            }
          }
        }
      }
    }
  }
  [drawer] {
    background-color: #EEEEEE;
  }
  #drawer {
      overflow: initial;
  }
  paper-fab {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .category {
    text-transform: capitalize;
  }
  .done {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: #009688;
    text-transform: uppercase;
    background-color: #EEEEEE;

  }
}