:host(.show) {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
:host {
  display: block;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;

  .main {
    background: #fff;
    core-toolbar {
      color: #FAFAFA;
      background-color: #009688;

      paper-menu-button {

        core-menu {
          color: black;
          font-size: 16px;
          

          paper-item {
            cursor: pointer;
            &.core-selected {
                background-color: white;
            }
          }
        }
      }
    }
  }
  [drawer] {
    background-color: #EEEEEE;
  }
  #drawer {
      overflow: initial;
  }
  paper-fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  .category:first-letter {
      text-transform: uppercase;
  }
  .done {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    color: #009688;
    text-transform: uppercase;
    background-color: #EEEEEE;

  }
}