:host {
  display: block;

  .container {
    padding-bottom: 86px;

    .done {
      text-align: center;
      margin-top: 10px;
      padding: 10px;
      color: #009688;
      text-transform: uppercase;
      background-color: #EEEEEE;
    }
  }

}